html, body {
  height: 100%;
  font-family: "proxima-nova";
  font-weight: 300;
  font-size: 62.5%;
}

.menu {
  
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

.clearfix { display: inline-block; }

.proxima-nova-light {
  font-weight: 300;
}

.proxima-nova-medium {
  font-weight: 500;
}

.museo-rounded-medium {
  font-weight: 700;
}

.museo-rounded-heavy {
  font-weight: 1000;
}


.black-unicorn {
  background-image: url('../images/black-unicorn.png');
  width: 390px;
  height: 652px;
  background-size: 100%;
  background-repeat: no-repeat;
  float: left;
  margin-top: 10rem;
  margin-left: 15%;
}

.section {
  width: 100%;
  height: 100%;
  background-size: cover;
  display: none;
  padding-bottom: 5%;
}

.section.intro {
  background-image: url('../images/intro-bg.jpg');  
}

.section.skills {
  background-image: url('../images/skills-bg.jpg');
}

.section.story {
  background-image: url('../images/story-bg.jpg');
}

.section.toolbox {
  background-image: url('../images/tools-bg.jpg');
}


header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 12%;
  text-align: center;
  font-size: 1.6rem;
  color: rgba(255,255,255,1);
}

header .aaron-brodeur img {
  width: 55%;
}

header a.menu-item {
  text-decoration: none;
  display: inline-block;
  border-radius: 2rem;
  padding: .8rem 1.2rem;
  border: .2rem solid;
  border-color: rgba(255,255,255,1);
  color: rgba(255,255,255,1);
  background-color: rgba(255,255,255,0);
  font-family: "museo-sans-rounded", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
  transition: all .5s;
}

header a.menu-item:hover {
  background-color: rgba(255,255,255,1);
  color: rgba(66,66,66,1);
  border-color: rgba(255,255,255,.5);
  cursor: pointer;
}

.section.skills .wrapper {
  width: 85%;
  margin-left: 13%;
  min-height: 72rem;
  position: relative;
  top: 5%;
}

 .section.toolbox .wrapper {
   width: 73%;
   margin-left: 21%;
   min-height: 72rem;
   position: relative;
   top: 5%;
 }

.scatter-plot {
  height: 72rem;
  width: 100%;
  position: relative;
}

.aaron-brodeur {
  position: relative;
}

header .aaron-brodeur a.menu-item {
  border: none;
}

header .aaron-brodeur a.menu-item:hover {
  background-color: rgba(255,255,255,0);
}

.aaron-brodeur h2 {
  font-size: 1.8rem;
  position: absolute;
  top: 84%;
  text-align: center;
  width: 100%;
}

.menu ul li {
  margin-bottom: 1.4rem
}

.contact-menu ul {
  display: none;
}

.contact-menu ul li {
  opacity: 0;
  transition: all .5s;
}

ul.menu {
  margin-top: 2.5rem;
}

.contact-menu:hover ul {
  display: block;
}

.contact-menu:hover ul li {
  opacity: 1;
}

.section.intro {
  display: none;
}

.intro-content {
  width: 32%;
  float: left;
  padding-left: 5%;
  color: rgba(255,255,255,1);
}

.intro-content h1 {
  margin-top: 26rem;
  font-size: 7.2rem;
  font-family: "museo-sans-rounded", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 1000;
  line-height: 6rem;
  margin-bottom: 5rem;
}

.intro-content p {
  font-size: 1.8rem;
  line-height: 3rem;
  margin-bottom: 2.4rem;
}


.orange-btn, a.orange-btn {
  color: rgba(255,195,78,1);
  text-decoration: none;
  border: .2rem solid rgba(255,195,78,1);
  display: inline-block;
  padding: 5px 8px;
  border-radius: 2.4rem;
  transition: all .25s;
}

.orange-btn:hover, a.orange-btn:hover {
  background-color: rgba(255,195,78,1);
  color: rgba(255,255,255,1);
}

.section.skills .skills-imagery, .section.skills .skills-descriptions {
  width: 100%;
  height: 50%;
}

.skills-imagery {
  background-color: rgba(254,250,244,1);
}

.section.skills .skills-descriptions {
  background-color: rgba(255,255,255,1);
}

.section.skills li {
  list-style: none;
  width: 33.33%;
  float: left;
  position: relative;
  height: 100%;
}

.section.skills li p, .section.skills .pad {
  padding: 0% 10% 5% 10%;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: rgba(90,90,90,1);
}

.section.skills li p:first-child {
  margin-top: 10%;
}

.section.skills li p:last-child {
  margin-bottom: 10%;
}

.skills-imagery ul {
  height: 100%;
  width: 100%;
}

.skills-imagery img {
  display: block;
}

.nav-item:hover, a.nav-item:hover {
  cursor: pointer;
}

.users-shoes img {
  width: 42%;
  margin: 10% auto 5% auto;
}

.interface-design img {
  width: 86%;
  margin: 5% auto;
}

.code img {
  width: 100%;
  position: absolute;
  margin: 17% auto 0 auto;
  left: -25%;
}

.skills-descriptions h2 {
  font-size: 3.2rem;
  color: rgba(66,66,66,1);
  font-family: "museo-sans-rounded", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
  padding: 10% 10% 5% 10%;
}

.skills-descriptions h2 span {
  font-size: 2rem;
  color: rgba(153,153,153,1);
  display: block;
}



.scatter-plot .background {
  background-color: rgba(174,161,141,.5);
  height: 100%;
}

.scatter-plot .quadrant {
  width: 50%;
  height: 36rem;
  float: left;
}

.scatter-plot .quadrant div {
  width: 100%; height: 100%;
}

.scatter-plot .top-left div {
  border-left: 1rem solid rgba(255,255,255,1);
  border-bottom: .25rem solid rgba(255,255,255,.5);
  border-right: .25rem solid rgba(255,255,255,.5);
}

.scatter-plot .top-right div {
  border-bottom: .25rem solid rgba(255,255,255,.5);  
}

.scatter-plot .bottom-right div {
  border-bottom: 1rem solid rgba(255,255,255,1);
}

.scatter-plot .bottom-left div {
  border-bottom: 1rem solid rgba(255,255,255,1);
  border-left: 1rem solid rgba(255,255,255,1);
  border-right: .25rem solid rgba(255,255,255,.5);
}

.scatter-plot .labels .x-axis, .scatter-plot .labels .y-axis {
  display: block;
  position: absolute;
  font-size: 2.4rem;
  font-weight: 900;
  font-family: "museo-sans-rounded", "Helvetica Neue", Helvetica, sans-serif;
  color: rgba(255,255,255,1)
}

.scatter-plot .labels .y-axis {
  width: 20rem;
  text-align: right;
  left: -23rem;
}

.labels em {
  display: block;
  position: absolute;
  background-color: rgba(255,255,255,1);
  height: 1rem;
  width: 1rem;
}

.labels .y-axis em {
  border-radius: .5rem 0 0 .5rem;
  right: -3rem;
}

.labels .x-axis em {
  border-radius : 0 0 .5rem .5rem;
  top: -2rem;
}

.scatter-plot .labels .x-axis {
  width: 6rem;
  margin-left: -3rem;
  text-align: center;
  top: 75rem;
}

.labels .master, .labels .master em {
  top: 0;
}

.labels .seasoned {
  top: 35rem;
}

.labels .seasoned em {
  top: .5rem;
}

.labels .novice {
  top: 71rem;
}

.labels .novice em {
  top: 1rem;
}

.labels .early {
  right: 0;
}

.labels .middle {
  right: 46.5%;
}

.labels .early em {
  right: 0;
}

.labels .middle em {
  right: 2.3rem;
}

.labels .late em {
  right: 2rem;
}

.y-axis-description, .x-axis-description {
  display: inline-block;
  padding: .8rem 2rem;
  background-color: rgba(255,255,255,1);
  border-radius: .5rem;
  font-size: 1.8rem;
  position: absolute;
}

.y-axis-description {
  transform: rotate(-90deg);
  left: -8.3rem;
  top: 35rem;
}

.x-axis-description {
  left: 40%;
  top: 68rem;
}

.points {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tool .icon {
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
  border: .5rem solid rgba(255,255,255,1);
  position: absolute;
  display: block;
  transition: all .5s;
  width: 5rem;
  display: inline-block;
  height: 5rem;
  background-size: 80%;
  background-position: center center;
  background-repeat: no-repeat;
  transition: all .5s;
  left: -2.5rem;
  z-index: 150;
}

.design-tool .icon {
  background-color: rgba(125,191,89,1);
}

.development-tool .icon {
  background-color: rgba(89,166,191,1);
}

.platform .icon {
  background-color: rgba(126,115,192,1);
}

.tool .info {
  background-color: rgba(255,255,255,1);
  width: 40rem;
  position: absolute;
  left: -20rem;
  top: 5rem;
  z-index: 100;
  border-radius: .3rem;
}

.tool {
  position: absolute;
  list-style: none;
}

.scatter-plot .tool:hover .icon {
   width: 9rem;
   height: 9rem;
   left: -4.5rem
}

.scatter-plot .icon:hover {
  cursor: pointer;
}

.photoshop {
  left: 93%;
  top: 2%;
}

.photoshop .icon {
  background-image: url('../images/tools/photoshop.jpg');
}

.ab-html {
  left: 90%;
  top: 6%;
}

.ab-html .icon {
  background-image: url('../images/tools/html.jpg');
}

.bbedit {
  left: 90%;
  top: 11%;
}

.bbedit .icon {
  background-image: url('../images/tools/bbedit.jpg');
}

.illustrator {
  left: 86%;
  top: 5%;
}

.illustrator .icon {
  background-image: url('../images/tools/illustrator.jpg');
}

.ab-css {
  left: 80%;
  top: 5%;
}

.ab-css .icon {
  background-image: url('../images/tools/css.jpg');
}

.ab-js {
  left: 75%;
  top: 6%;
}

.ab-js .icon {
  background-image: url('../images/tools/js.jpg');
}

.flash {
  left: 65%;
  top: 20%;
}

.flash .icon {
  background-image: url('../images/tools/flash.jpg');
}

.wordpress {
  left: 64%;
  top: 14%;
}

.wordpress .icon {
  background-image: url('../images/tools/wordpress.jpg');
}

.ab-jquery {
  top: 6%;
  left: 60%;
}

.ab-jquery .icon {
  background-image: url('../images/tools/jquery.jpg');
}

.indesign {
  left: 72%;
  top: 38%;
}

.indesign .icon {
  background-image: url('../images/tools/indesign.jpg');
}

.ab-php {
  left: 81%;
  top: 52%;
}

.ab-php .icon {
  background-image: url('../images/tools/php.jpg');
}

.py {
  left: 90%;
  top: 63%;
}

.py .icon {
  background-image: url('../images/tools/python.jpg');
}

.linux {
  left: 81%;
  top: 71%;
}

.linux .icon {
  background-image: url('../images/tools/linux.jpg');
}

.dreamweaver {
  left: 70%;
  top: 45%;
}

.dreamweaver .icon {
  background-image: url('../images/tools/dreamweaver.jpg');
}

.joomla {
  left: 58%;
  top: 39%;
}

.joomla .icon {
  background-image: url('../images/tools/joomla.jpg');
}

.svn {
  left: 55%;
  top: 45%;
}

.svn .icon {
  background-image: url('../images/tools/subversion.jpg');
}

.vim {
  left: 58%;
  top: 49%;
}

.vim .icon {
  background-image: url('../images/tools/vim.jpg');
}

.fireworks {
  left: 55%;
  top: 55%;
}

.fireworks .icon {
  background-image: url('../images/tools/fireworks.jpg');
}

.mysql {
  left: 71%;
  top: 77%;
}

.mysql .icon {
  background-image: url('../images/tools/mysql.jpg');
}

.apache {
  left: 81%;
  top: 90%;
}

.apache .icon {
  background-image: url('../images/tools/apache.jpg');
}

.scriptaculous {
  left: 48%;
  top: 52%;
}

.scriptaculous .icon {
  background-image: url('../images/tools/scriptaculous.jpg');
}

.coda {
  left: 30%;
  top: 8%;
}

.coda .icon {
  background-image: url('../images/tools/coda.jpg');
}

.smarty {
  left: 33%;
  top: 13%;
}

.smarty .icon {
  background-image: url('../images/tools/smarty.jpg');
}

.github {
  left: 45%;
  top: 25%;
}

.github .icon {
    background-image: url('../images/tools/github.jpg');
}

.git {
  left: 45%;
  top: 35%;
}

.git .icon {
  background-image: url('../images/tools/git.jpg');
}

.blender {
  left: 46%;
  top: 56%;
}

.blender .icon {
  background-image: url('../images/tools/blender.jpg');
}

.reviewboard {
  left: 32%;
  top: 49%;
}

.reviewboard .icon {
  background-image: url('../images/tools/reviewboard.jpg');
}

.balsamiq {
  left: 28%;
  top: 48%;
}

.balsamiq .icon {
  background-image: url('../images/tools/balsamiq.jpg');
}

.ab-svg {
  left: 26%;
  top: 52%;
}

.ab-svg .icon {
  background-image: url('../images/tools/svg.jpg');
}

.ab-ember {
  left: 15%;
  top: 53%;
}

.ab-ember .icon {
  background-image: url('../images/tools/ember.jpg');
}

.sublimetext {
  left: 22%;
  top: 56%;
}

.sublimetext .icon {
  background-image: url('../images/tools/sublimetext.jpg');
}

.pixelapse {
  left: 13%;
  top: 57%;
}

.pixelapse .icon {
  background-image: url('../images/tools/pixelapse.jpg');
}

.objective-c {
  left: 19%;
  top: 77%;
}

.objective-c .icon {
  background-image: url('../images/tools/objective-c.jpg');
}

.xcode {
  left: 23%;
  top: 74%;
}

.xcode .icon {
  background-image: url('../images/tools/xcode.jpg');
}

.sketch {
  left: 12%;
  top: 73%;
}

.sketch .icon {
  background-image: url('../images/tools/sketch.jpg');
}

.swift {
  left: 5%;
  top: 80%;
}

.swift .icon {
  background-image: url('../images/tools/swift.jpg');
}

.angular {
  left: 13%;
  top: 81%;
}

.angular .icon {
  background-image: url('../images/tools/angular.jpg');
}

.flask {
  left: 7%;
  top: 58%;
}

.flask .icon {
  background-image: url('../images/tools/flask.jpg');
}

.ab-ruby {
  left: 28%;
  top: 58%;
}

.ab-ruby .icon {
  background-image: url('../images/tools/ruby.jpg');
}

.aftereffects {
  left: 43%;
  top: 44%;
}

.aftereffects .icon {
  background-image: url('../images/tools/aftereffects.jpg');
}

.tool .info {
  display: none;
  height: 1rem;
}

.tool:hover {
  z-index: 1000;
}

.tool:hover .info {
  height: auto;
  display: block;
}

.tool .info .left {
  font-size: 1.6rem;
  font-weight: 300;
  color: rgba(162,152,149,1);
  padding-top: 5rem;
  width: 25rem;
  padding-left: 2.5rem;
  float: left;
}

.tool .info .right {
  font-size: 1.4rem;
  font-weight: 300;
  color: rgba(162,152,149,1);
  padding-top: 5rem;
  width: 10rem;
  float: left;
  text-align: right;
  padding-right: 2.5rem;
}

.tool .info .left span, .tool .info .right span {
  font-weight: 800;
  display: block;
  color: rgba(90,90,90,1);
  font-size: 1.2rem;
}

.info .heading {
  border-bottom: 2rem solid rgba(238,238,238,1);
  padding-bottom: 2.5rem;
}

.content p {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 300;
  color: rgba(99,99,99,1);
  padding: 2.5rem;
}

.content li {
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: .5rem;
  margin-left: 5rem;
}