body {
}

.aaron-brodeur {
}

.intro-content {
  width: 80%;
  left: 50%;
  margin-left: -45%;
  top: initial;
  bottom: 10%;
}

.intro-content p {
  font-size: 5.4rem;
  line-height: 7rem;
}

.black-unicorn {
  width: 43rem;
  height: 71rem;
  left: 50%;
  top: 13%;
  margin-left: -25.5rem;
}

header {
  width: 29%;
  top: -2%;
  left: -4%;
}

header a.menu-item {
  font-size: 6rem;
  border-radius: 6rem;
  border: .8rem solid rgba(255,255,255,1);
  padding: 2rem;
}

.intro-content h1 {
  font-size: 11.8rem;
  line-height: 9rem;
  margin-bottom: 4rem;
}

.menu .menu {
  display: none;
  opacity: 0;
}

.mobile-menu {
  display: block;
  width: 8rem;
  height: 8rem;
  background-color: rgba(255,255,255,.7);
  margin: 0 auto;
  border-radius: 8rem;
  position: relative;
  top: -7rem;
}

.menu.mobile-menu-open .mobile-menu {
  background-color: rgba(255,255,255,1);
}

.menu.mobile-menu-open .mobile-menu div {
  background-color: rgba(0,0,0,.6);
}

header {
  transition: all .25s ease, background-color 1.5s ease;
}

header.mobile-menu-open {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.menu.mobile-menu-open .menu {
  display: block;
  opacity: 1;
}

body.mobile-menu-open .portfolio {
  opacity: 0;
}

.mobile-menu div {
  height: 0.9rem;
  position: relative;
  top: 1.7rem;
  border-radius: .5rem;  
  width: 50%;
  margin: 1rem auto;
}

.aaron-brodeur h2 {
  display: none;
}

.mobile-menu-open .aaron-brodeur h2 {
  display: block;
  font-size: 4.8rem;
  top: 45rem;
  position: absolute;
}

.menu ul li {
  margin-bottom: 4.4rem;
}

.contact-menu ul {
  margin-top: 4.4rem;
}

.contact-menu .contact-me, .contact-menu .telephone {
  font-size: 6rem;
  border-radius: 6rem;
  padding: 2rem;
  width: auto;
}

.contact-menu:hover ul li.contact-icon, .contact-menu ul li {
  width: auto;
  display: inline-block;
  margin: 4.4rem;
}

.contact-menu ul li.contact-icon a {
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
}

.time-period .left {
  float: none;
  margin-left: auto;
  padding-bottom: 45rem;
}

.time-period .left, .time-period .right {
  width: 60%;
  margin: 0 auto;
}

.time-period p {
  font-size: 4.6rem;
  line-height: 5.2rem;
}

.time-period h2 {
  font-size: 10rem;
}

.right.slideshow {
  height: 93rem;
  float: none;
}

.work-samples span {
  font-size: 3.6rem;
  padding-bottom: 5%;
  line-height: 4rem;
}

.important-relationships h4 {
  font-size: 7.2rem;
}

.important-relationships h4 span { 
  font-size: 2.95rem;
}

.important-relationships {
  width: 100%;
  left: 0;
  z-index: 1000;
}

.important-relationships li, .relationship-photo {
  width: 8rem;
  height: 8rem;
}

.shimmers, .cloud, .fp-viewing-intro-0 .cloud-1, .fp-viewing-intro-0 .cloud-2 {
  display: none;
}

ul.menu {
  margin-top: 9.5rem;
}

.timeline-menu ul li {
  position: relative;
  width: 8rem;
  height: 8rem;
  margin-bottom: 8rem;
}

.timeline-menu li.first, .timeline-menu li.second, .timeline-menu li.third, .timeline-menu li.fourth, .timeline-menu li.fifth, .timeline-menu li.sixth, .timeline-menu li.seventh {
  left: inherit;
  right: 5rem;
}

.timeline-menu {
  left: inherit;
  right: 0;
  width: 5%;
  top: 14.25rem;
}

.timeline {
  width: 1rem;
  height: 99rem;
  right: 7.5%;
  border-right: 0.8rem solid rgba(255,255,255,0.5);
  left: inherit;
  top: 13rem;
}

.timeline-menu a {
  border-radius: 11rem;
  font-size: 2.8rem;
  width: 9rem;
  height: 9rem;
  line-height: 1.9rem;
}

.fp-viewing-story-first .timeline-menu a.first, .fp-viewing-story-second .timeline-menu a.second, .fp-viewing-story-third .timeline-menu a.third, .fp-viewing-story-fourth .timeline-menu a.fourth, .fp-viewing-story-fifth .timeline-menu a.fifth, .fp-viewing-story-sixth .timeline-menu a.sixth, .fp-viewing-story-seventh .timeline-menu a.seventh {
  width: 11rem;
  height: 11rem;
  font-size: 3.6rem;
}

.fp-viewing-story-first .timeline-menu a.first span, .fp-viewing-story-second .timeline-menu a.second span, .fp-viewing-story-third .timeline-menu a.third span, .fp-viewing-story-fourth .timeline-menu a.fourth span, .fp-viewing-story-fifth .timeline-menu a.fifth span, .fp-viewing-story-sixth .timeline-menu a.sixth span, .fp-viewing-story-seventh a.seventh span {
  line-height: 2.4rem;
}

.work-samples-menu li {
  width: 4rem;
  height: 4rem;
  margin: 0 2rem;
}

.work-samples-menu {
  padding-top: 13rem;
}

.work-samples-menu a.selected, .work-samples-menu a.selected:hover {
  width: 5rem;
  height: 5rem;
  left: -0.5rem;
  top: -0.5rem;
  border-radius: 5rem;
}

.work-samples-menu li a {
  width: 4rem;
  height: 4rem;
}

.timeline-menu a span {
  top: 2.3rem;
  line-height: 1.6rem;
}

.filter .filter-toggle {
  width: 12rem;
  height: 5rem;
  border-radius: 5rem;
}

.filter-toggle em {
  width: 3.5rem;
  height: 3.5rem;
  top: .8rem;
  left: .8rem;
}

.filter-label {
  font-size: 3.6rem;
  padding: 1rem 0 0 0.5rem;
  display: block;
  width: 18rem;
}

.filters {
  top: -26rem;
}

.scatter-plot {
  top: 20rem;
  height: 117rem;
}

.scatter-plot .labels .x-axis, .scatter-plot .labels .y-axis {
  font-size: 4.2rem;
}

.scatter-plot .quadrant {
  height: 58rem;
}

.labels .seasoned {
  top: 57rem;
}

.labels .novice {
  top: 115rem;
}

.scatter-plot .labels .x-axis {
  top: 119rem;
}

.y-axis-description, .x-axis-description {
  font-size: 3.6rem;
}

.y-axis-description {
  left: -18.4rem;
  top: 56.5rem;
}

.x-axis-description {
  left: 24%;
  top: 114rem;
}

.tool .icon {
  width: 10rem;
  height: 10rem;
}

.content p {
  font-size: 3.6rem;
  line-height: 4.2rem;
}

.important-relationships li {
  position: static;
}
.relationship-photo {
  position: relative;
}

.relationship {
  width: 72rem;
  left: -29rem;
  height: 140rem;
  top: -151rem;
}

.relationship h2.left {
  font-size: 9rem;
  float: left;
}

.relationship h2.right {
  font-size: 3rem;
  text-transform: uppercase;
}

.relationship h2 span {
  font-size: 3rem;
}

.relationship-timeframe {
  font-size: 4.8rem;
}

.relationship h2.left, .time-period .relationship h2.right {
  width: 100%;
  text-align: center;
}
.time-period .relationship-description p {
  font-size: 3.6rem;
  padding: 0rem 5rem 5rem 5rem;
}

.time-period .relationship-description p:first-child {
  padding: 5rem 5rem 5rem 5rem;
}

.time-period .relationship-description p:last-child {
  padding: 0rem 5rem 5rem 5rem;
}

.important-relationships li:hover .relationship-photo {
  width: 15rem;
  height: 15rem;
  border-radius: 15rem;
  top: -10rem;
  left: -3.75rem;
}